.template-title {
    margin-bottom: 120px;
    text-align: center;
    color: $text;

    &::after {
        content: "";
        position: absolute;
        width: 900px;
         height: 500px;
         top: -230px;
        background: url(./assets/img/after.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        z-index: -1;
    }
}

.courses-list {
     display: grid;
     grid-template-columns: 1fr 1fr;
     gap: 100px;
}

.course-item {
    background: rgba(255, 255, 255, 0.733); 
    color: #fff;
    border-radius: 30px;
    padding: 32px 65px 44px;
    transition: .3s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cousre-title {
    font-size: 36px;
    font-weight: 400;
    color: $text2;
    margin-bottom: 30px;
}

.cousre-description {
     font-size: 24px;
    color: $text2;
    font-weight: 300;
    margin-bottom: 30px;
    

}

.register {
    padding: 18px 45px;
    width: 100%;
}
