.listof {
    list-style: disc;
    margin-left: 20px;
}

.link {
    color: $background;
}

.font {
    font-size: 18px;
}

.police-title {
    font-weight: 500;
    font-size: 20px;
}

.marginnn {
    margin-left: 40px;
}

.starl {
    margin-bottom: 40px;
}
