<section class="courses">
       <div class="container">
         <div class="template-title">
            <h2>Види занять</h2>
            <h5>наші головні пріоритети — ваші цілі вивчення та задоволення процесом</h5>
        </div>
        
        <div class="courses-list">
            <div class="course-item" id="courses">
                <h3 class="cousre-title">Індивідуальні заняття</h3>
                <h6 class="cousre-description">- персональний підхід <br>
                   - власний темп <br>
                   - гнучний графік<br>
                   - адаптація занять під ваші потреби<br>
                    - вся увага викладача зосереджена на доcягненні бажаного результату</h6>  
                    <a href="#form-course" class="btn btn-primary btn-lg register d-none d-lg-block">Зареєструватися</a>  
                    <a href="services.html" class="btn btn-primary btn-lg register d-md-none">Зареєструватися</a>                        

                </div>
                <div class="course-item" id="courses">
                <h3 class="cousre-title">Групові заняття</h3>
                <h6 class="cousre-description">
                    - розроблені курси для кожного із рівнів<br>
                    - розвиток комунікації та обмін досвідом<br>
                    - інтерактивність<br>
                    - регулярність і дисципліна<br>
                    - мотивація та підтримка<br>
                    - доступніша ціна
                </h6>
                    <a href="#form-course" class="btn btn-primary btn-lg register d-none d-lg-block">Зареєструватися</a>   
                    <a href="services.html" class="btn btn-primary btn-lg register d-md-none">Зареєструватися</a>             
                </div>
            </div>
       </div>
</section>