<section class="faq">
<div class="container">
  <div class="template-title">
    <h2>Найчастіші запитання</h2>
    <h5>ми зібрали перелік популярних запитань наших клієнтів</h5>
  </div>
   <div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        Я не знаю чи варто спробувати навчання у вашій школі?
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Якщо це курс вивчення одного рівня, ви можете записатися на безкоштовний перший урок, який триває 30 хвилин. Познайомитись з викладачем, дізнатися про формат та відчути атмосферу наших занять. А вже після цього здійснити оплату.</div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
        Мені подобається формат, але я вже знаю граматику цього рівня і хотіла б більше практикувати розмовні навички
      </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Індивідуальні заняття також мають свою структуру і план занять, але вони легко коригуються під ваші потреби. В такому випадку час на вивчення граматики буде скорочено і використаний лише для повторення теми, а більше часу буде сфокусовано на практику розмови </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
        Моїй дитині потрібно лише декілька уроків, щоб підготуватися до контрольної з граматики, як проходить оплата?
      </button>
    </h2>
    <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Якщо є окрема секція, яку потрібно підтягнути або попрактикувати, кожен урок оплачується окремо.</div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseThree">
        В мене немає можливості оплатити весь курс відразу
      </button>
    </h2>
    <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Якщо ви обираєте вивчення декількох рівнів, то кожен оплачується окремо, також є можливість оплати частинами.</div>
    </div>
  </div>
   <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseThree">
        Що буде якщо я пропущу урок?
      </button>
    </h2>
    <div id="flush-collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Якщо це курс індивідуальних занять і ви зазадалегіть попередили про свою відсутність, вивчення даного матеріалу переноситься на наступне заняття. Якщо ви пропустили групове заняття з поважних причин чи повідомивши про свою відсутність не менше, ніж за 3 години до початку уроку, у вас є можливість відпрацювати завдання індивідуально з викладачем домовившись про зручний час.</div>
    </div>
  </div>
</div>
</div>
</section>