<section class="banner">
    <div class="container">
            <div class="banner-text">
                <h1 class="banner-title">Ми — ваш перший крок<br>
                     до омріяного майбутнього</h1>
            </div>

                <div class="banner-phrase">
     
                    <h2 class="banner-subtitle mb-4 d-none d-lg-block">Англійська мова — це одна з найважливіших мов у сучасному світі, вона допомагає впевнено подорожувати, знайомитися з людьми з різних країн і краще розуміти інші культури. </h2>
                        <h2 class="banner-subtitle mb-4 d-block d-md-none">Англійська мова — це одна з найважливіших мов у сучасному світі, вона допомагає впевнено подорожувати,<br> знайомитися з людьми <br> з різних країн  і краще <br> розуміти інші культури. </h2>
                        
<h2 class="banner-subtitle d-none d-lg-block">Англійська — це інвестиція у власний розвиток і майбутній успіх.</h2>


                   <div class="banner-image">
                 <a href="#courses" class="btn btn-primary btn-lg banner-btn">Обрати курс</a>      
                 <img class="img-boy" src="assets/img/couplebrand.png" alt="couple">
                </div>
                   </div> 
                 </div>
</section>
