<footer>
	<div class="container">
		<div class="column-sm">
			<a class="footer-logo d-none d-md-block" href="#">
                <img src="assets/img/mooooon.svg" alt="logo">
            </a>
			<div class="d-md-none">
				<address class="footer-nav">
				<a href="mailto:sunshineschoolwithu@gmail.com" class="footer-contact">
					<i class="icon-footer">
						<svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 24 24" id="gmail">
  <path d="M24 5.457v13.909c0 .904-.732 1.636-1.636 1.636h-3.819V11.73L12 16.64l-6.545-4.91v9.273H1.636A1.636 1.636 0 0 1 0 19.366V5.457c0-2.023 2.309-3.178 3.927-1.964L5.455 4.64 12 9.548l6.545-4.91 1.528-1.145C21.69 2.28 24 3.434 24 5.457z"></path>
</svg>
					</i>sunshineschoolwithu@gmail.com</a>
				<a href="tel:+380687347182" class="footer-contact">
					<i class="icon-footer">
					<svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 24 24" id="phone">
  <path fill="none" d="M0 0h24v24H0V0z"></path>
  <path d="M19.23 15.26l-2.54-.29c-.61-.07-1.21.14-1.64.57l-1.84 1.84c-2.83-1.44-5.15-3.75-6.59-6.59l1.85-1.85c.43-.43.64-1.03.57-1.64l-.29-2.52c-.12-1.01-.97-1.77-1.99-1.77H5.03c-1.13 0-2.07.94-2 2.07.53 8.54 7.36 15.36 15.89 15.89 1.13.07 2.07-.87 2.07-2v-1.73c.01-1.01-.75-1.86-1.76-1.98z"></path>
</svg>
				</i>+38 (068) 734-71-82</a>
			</address>
			</div>
			
		</div>
		
		<div class="column-lg">
			<nav class="footer-nav">
				<h5 class="footer-title">Інформація</h5>
				<a href="global-information.html" class="footer-link">Про нас</a>
				<a href="services.html" class="footer-link">Послуги</a>
				<a href="price.html" class="footer-link">Ціни</a>
			</nav>
			<nav class="footer-nav">
				<h5 class="footer-title">Клієнтам</h5>
				<a href="global-information.html" class="footer-link">Публічна оферта</a>
				<a href="services.html" class="footer-link">Соціальні мережі</a>
			</nav>
			
			<nav class="footer-nav d-lg-none">
                <h5 class="footer-title ">Правова інформація</h5>
                <a href="#" class="footer-link">Політика конфіденційності</a>
                <a href="#" class="footer-link">Умови та положення</a>
            </nav>
<div class="d-none d-lg-block">
	<address class="footer-nav">
						<h5 class="footer-title">Контакти</h5>
				<a href="mailto:sunshineschoolwithu@gmail.com" class="footer-contact">
					<i class="icon-footer">
						<svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 24 24" id="gmail">
  <path d="M24 5.457v13.909c0 .904-.732 1.636-1.636 1.636h-3.819V11.73L12 16.64l-6.545-4.91v9.273H1.636A1.636 1.636 0 0 1 0 19.366V5.457c0-2.023 2.309-3.178 3.927-1.964L5.455 4.64 12 9.548l6.545-4.91 1.528-1.145C21.69 2.28 24 3.434 24 5.457z"></path>
</svg>
					</i>sunshineschoolwithu@gmail.com</a>
				<a href="tel:+380687347182" class="footer-contact">
					<i class="icon-footer">
					<svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 24 24" id="phone">
  <path fill="none" d="M0 0h24v24H0V0z"></path>
  <path d="M19.23 15.26l-2.54-.29c-.61-.07-1.21.14-1.64.57l-1.84 1.84c-2.83-1.44-5.15-3.75-6.59-6.59l1.85-1.85c.43-.43.64-1.03.57-1.64l-.29-2.52c-.12-1.01-.97-1.77-1.99-1.77H5.03c-1.13 0-2.07.94-2 2.07.53 8.54 7.36 15.36 15.89 15.89 1.13.07 2.07-.87 2.07-2v-1.73c.01-1.01-.75-1.86-1.76-1.98z"></path>
</svg>
				</i>+38 (068) 734-71-82</a>
			</address>
</div>
			
			
		</div>
	</div>
	<div class="container-copyright">
		<span>ⓒ 2026. Sunshine. Всі права захищені</span>
		<nav class="copyright-nav">
			<a href="#" class="police-link">політика конфіденційності</a>
			<a href="#" class="police-link">умови та положення</a>
		</nav>
	</div>
</footer>
<script async src="assets/js/custom.js"></script>
<script async src="assets/js/bootstrap.bundle.min.js"></script>
</body>
</html>