<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="theme-color" content="#188de7">
    <link rel="shorcut icon" type="image/png" href="assets/img/mooooon.svg">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
    <title>Sunshine</title>
    <link href="https://cdn.jsdelivr.net/npm/reset-css@5.0.2/reset.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="style.css" />
    
  <link rel="preconnect" href="https://cdn.jsdelivr.net" crossorigin>
<link rel="stylesheet" id="silktide-consent-manager-css" href="https://cdn.jsdelivr.net/gh/silktide/consent-manager@v2.0.0/silktide-consent-manager.css" integrity="sha384-IO1E/jCrQXyH5rwcI0SXP7OXw47JFqQNDQcKhbFvqnL2IunBxxwE2Ne5XyAmCqKs" crossorigin="anonymous">
<style id="silktide-consent-manager-overrides">
#stcm-wrapper {
  --boxShadow: -5px 5px 10px 0px #00000012, 0px 0px 50px 0px #0000001a;
  --fontFamily: Helvetica Neue, Segoe UI, Arial, sans-serif;
  --primaryColor: #8C0004;
  --backgroundColor: #ffffff;
  --textColor: #000000;
  --backdropBackgroundColor: #00000033;
  --backdropBackgroundBlur: 0px;
  --iconColor: #8c0004;
  --iconBackgroundColor: #ffffff;
}
</style>
<script src="https://cdn.jsdelivr.net/gh/silktide/consent-manager@v2.0.0/silktide-consent-manager.js" integrity="sha384-j4NIMOecmtzMWe9GJADIIe5hTlHG63aiTQ/2XorW10RNyQJg+IU+xwFVDy45wBah" crossorigin="anonymous"></script>
<script>
window.silktideConsentManager.init({
  backdrop: {
    show: true
  },
  icon: {
    position: "bottomLeft"
  },
  prompt: {
    position: "bottomRight"
  },
  consentTypes: [
    {
      id: "",
      label: "Необхідні ",
      description: "<p>Ці файли cookies є необхідними для належної роботи сайту, і їх не можна вимкнути. Вони допомагають налаштувати параметри конфіденційності.</p>",
      required: true,
      onAccept: function() {
        console.log('Add logic for the required Необхідні  consent type here');
      }
    },
    {
      id: "",
      label: "Аналітика",
      description: "<p>Ці файли cookie допомагають нам вдосконалювати сайт, відстежуючи, які сторінки користуються найбільшою популярністю та як відвідувачі переміщуються по сайту.</p>",
      required: false,
      gtag: "analytics_storage"
    },
    {
      id: "",
      label: "Маркентинг",
      description: "<p>Ці файли cookie використовуються нами та нашими рекламними партнерами для показу вам релевантних рекламних оголошень на цьому сайті та в інших місцях, а також для оцінки ефективності цих рекламних кампаній.</p>",
      required: false,
      gtag: [
        "ad_storage",
        "ad_user_data",
        "ad_personalization"
      ]
    }
  ],
  text: {
    prompt: {
      description: "<p>На нашому сайті ми використовуємо файли cookie, щоб покращити ваш користувацький досвід, надавати персоналізований контент та аналізувати відвідуваність сайту.</p>",
      acceptAllButtonText: "Прийняти всі",
      acceptAllButtonAccessibleLabel: "Прийняти всі",
      rejectNonEssentialButtonText: "Відхилити всі необов’язкові файли cookie",
      rejectNonEssentialButtonAccessibleLabel: "Відхилити всі необов’язкові файли cookie",
      preferencesButtonText: "Налаштування",
      preferencesButtonAccessibleLabel: "Налаштування"
    },
    preferences: {
      title: "Customize your cookie preferences",
      description: "<p>We respect your right to privacy. You can choose not to allow some types of cookies. Your cookie preferences will apply across our website.</p>",
      saveButtonText: "Зберегти та закрити",
      saveButtonAccessibleLabel: "Save your cookie preferences",
      creditLinkText: "Get this banner for free",
      creditLinkAccessibleLabel: "Get this banner for free"
    }
  }
});
</script>
</head>
<body>