<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="google-site-verification" content="OHM55uJYxOOIDADl7jt2cf7vq8gqKbtwHjxCi-TZAck" />
    <meta charset="UTF-8">
    <meta name="theme-color" content="#188de7">
    <link rel="shorcut icon" type="image/png" href="assets/img/mooooon.svg">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
    <title>Sunshine</title>
    <link href="https://cdn.jsdelivr.net/npm/reset-css@5.0.2/reset.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="style.css" />
    
</head>
<body>