<header class="global fixed">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="index.html">
                <img src="assets/img/mooooon.svg" alt="logo" class="logo">
                    <img src="assets/img/brand.svg" class="brand-img" alt="sitename">
            </a>
                <ul class="navbar-nav navbar-nav_main-navigation">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="global-information.html">Про нас</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="services.html">Послуги</a>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="price.html">Ціни</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="contacts.html">Контакти</a>
                    </li>
                 
                  
                </ul>

                <ul class="navbar-nav navbar-nav_language navbar-nav_small ms-xl-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#" role="button">ua</a>
                    </li>
                </ul>

                <div class="dropdown mobile-menu">
                    <button class="btn btn-secondary dropdown-toggle mobile-menu-toggle button-s" type="button" data-bs-toggle="dropdown" aria-expanded="false" aria-label="Відкрити меню">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                       <ul class="dropdown-menu">
                           <li class="nav-item">
                            <a class="dropdown-item" href="services.html">Про нас</a>
                        </li>
                           <li class="nav-item">
                            <a class="dropdown-item" href="global-information.html">Послуги</a></li>
                              <li>
                                <a class="dropdown-item" href="price.html">Ціни</a>
                            </li>
                            <li class="nav-item">
                             <a class="dropdown-item" href="contacts.html">Контакти</a>
                             </li>
                        </ul>
</div>

      
                
                
            </div>

          
        </div>
        </div>
    </nav>
</header>
