<section class="about-us">
       <div class="container">
         <div class="template-title">
            <h2>Чому варто обрати нашу школу?</h2>
            <h5>переваги, які чекають вас після початку навчання в нашій школі</h5>
   </div>
        <div class="information-list">
            <div class="information-item" id="we">
                <h3 class="information-title">Наша методика</h3>
                <h6 class="information-description">Ми використовуємо прийоми вивчення, інтегровані з системою вивчення в мовному середовищі та поза ним. <br> Тому кожна лекція включає практику всіх навиків</h6>            

                </div>
                 <div class="information-item" id="we">
                <h3 class="information-title">Наші курси</h3>
                <h6 class="information-description">Розроблені за методикою для активного вивчення мов та постійно вдосконалюються. Також індивідуальні заняття включають можливість коригування навчального процесу під потреби учня</h6>            

                </div>
                 <div class="information-item" id="we">
                <h3 class="information-title">Наші викладачі</h3>
                <h6 class="information-description">Постійно відслідковують результат кожного з учнів, звертають увагу на проблемні місця та допомагають їх відкоригувати, а також мають велику базу порад щодо пасивного вивчення</h6>   
                </div>
            </div>
    
</section>